body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    gap: 2px;

}
.img-container{
    width: 400px;
    height: 400px;
    background-image: url('/images/login.png');
}

.login-container {
    /* background-color: #fff; */
   
    background: rgba(255, 255, 255, 0.881);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 400px;
    opacity: 1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    
}

label {
    display: block;
    margin-bottom: 5px;
    padding: 15px;

}

input[type="text"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    margin: auto;
    margin-left: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000;
    padding: 15px ;
   
}

button {
    width: 70%;
    margin:auto;
    margin-left: 26px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
}

button:hover {
    background-color: #268dfb;
}

#responseMessage {
    margin-top: 10px;
    text-align: center;
}
